@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ececec;
}

a {
    cursor: none;
}

.rounded-cursor{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d4d4d4;
  border-radius: 50%;
  z-index: 999;
  transition: width 0.3s, height 0.3s;
}

.cursor-lighten {
  width: 60px;
  height: 60px;
}

.bg-white-custom {
    background-color: #ececec;
}

.rounded-5 {
 border-radius: 5px;
}

.custom-close {
  transition: all 0.5s;
}


.test-shadow {
 border-radius: 5px;
 box-shadow:
 -10px -10px 10px rgba(255,255,255,0.45),
 6px 6px 15px rgba(70,70,70,0.22);
}

.test-shadow-dark {
 box-shadow:
 -5px -5px 10px rgba(115, 115, 115,0.35),
 6px 6px 15px rgba(23, 23, 23,0.52);
}

.test-shadow-2 {
 border-radius: 5px;
 box-shadow:
 -10px -10px 15px rgba(255,255,255,1),
 10px 10px 15px rgba(70,70,70,0.22);
}

.test-shadow-3 {
 border-radius: 5px;
 box-shadow: inset
 -5px -5px 5px rgba(70,70,70,0.17),
 inset 5px 5px 5px rgba(70,70,70,0.17);
}

.image-test {
    border-radius: 5px;
    background-image: url("https://avatars.githubusercontent.com/u/60462635?v=4");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.anim-test {
    position: absolute;
    z-index: 99;
    animation: projects 1s forwards;
}

.contact-open {
    z-index: 98;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: contact-open 1s forwards;
}

@keyframes projects {
    0% {
        height: 0%;
        width: 0%;
    }

    50% {
        width: 100%;
        height: 0%;
    }

    100% {
        width: 100%;
        height: 100%;
    }

}

@keyframes contact-open {
    0% {
        height: 5rem;
    }


    100% {
        height: -100%;
    }

}

